@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sixtyfour+Convergence&display=swap");

body {
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  display: flex;
  justify-content: center;
	background-color:#17ccc3;
}

.container {
  width: 1000px;
  padding: 20px;
  margin-top: 80px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  text-align: center;
}

h1 {
  font-family: "Sixtyfour Convergence", serif;
  text-align: center;
  background: linear-gradient(to right, 
  #ef5350,
  #f48fb1,
  #7e57c2,
  #2196f3,
  #26c6da, 
  #43a047, 
  #eeff41, 
  #f9a825, 
  #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  font-family: "Sixtyfour Convergence", serif;
  text-align: center;
  background: linear-gradient(to right, 
  #ef5350,
  #f48fb1,
  #7e57c2,j
  #2196f3,
  #26c6da, 
  #43a047, 
  #eeff41, 
  #f9a825, 
  #ff5722);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  }

.question {
  font-weight: bold;
  margin-bottom: 10px;
}

.options {
  margin-bottom: 20px;
}

.option {
  display: block;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #17ccc3;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  transition: background-color 0.3s;
  margin-right: 10px;
  margin-bottom: 20px;
  box-shadow: 0 9px #999;
}
.bttn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #17ccc3;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
    transition: background-color 0.3s;
    margin-right: 10px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 8px #999;
  }

.bttn:hover {
    background-color: #008e86;
  }

.bttn:active {
    background-color: #008e86;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
.button:hover {
  background-color: #008e86;
}

.button:active {
  background-color: #008e86;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.result {
  text-align: center;
  margin-top: 20px;
  font-weight: bold;
}

.hide{
  display: none;
}
